<ion-content>
    <p class="title">{{'welcome.title'|translate}}</p>
    <div class="image_block"><img class="cart" src="../assets/auth/shopping-cart-1.svg"><img class="cart"
                                                                                             src="../assets/auth/shopping-cart-2.svg"><img
            class="cart"
            src="../assets/auth/shopping-cart-2.svg">
        <img class="cart"
             src="../assets/auth/shopping-cart-2.svg"></div>
    <p class="description">{{'prepare.p1'|translate}}<br>
        {{'prepare.p2'|translate}}</p>
</ion-content>