<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <a routerLink="/sdk/home-sdk"><img src="../assets/icon/header_arrow.svg">Home</a>
        </ion-buttons>
        <ion-title><span>HPT Ariane</span><span>Collaboration Platform</span></ion-title>
        <ion-buttons slot="end">
            <!--For android align-->
            <ion-button style="opacity: 0;height: 0;">
                Home
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header><ion-content>
    <p class="title">{{'tutorial.title'|translate}}</p>
    <iframe [src]="getUrl()"></iframe>
</ion-content>
