ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  form {
    margin-top: 30px;
  }
  hr {
    background-color: #eeeeee;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ion-toggle {
    --background-checked: rgb(78, 212, 75);
    --handle-background-checked: white;
  }
  ion-label {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #000000;

  }

  .next_container {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

}