ion-content {
  --offset-top: -20px !important;
  --padding-start: 8px;
  --padding-end: 8px;
  .wrapper {
    padding-left: 8px;
    padding-right: 8px;
    .note:first-child {
      margin-top: 18px !important;
      margin-bottom: 18px !important;
    }
    .info {
      font-size: 24px;
      text-transform: uppercase;
    }
    .progress {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .current {
        background-color: #c1d9fd;
      }
      .submitted {
        background-color: #1a82f2;
        color: white;
      }
      .inactive {
        background-color: #e7eef9;
      }
      .connect {
        width: 49px;
        height: 4px;
      }
      .progress_item {
        width: 95px;
        border-radius: 13px;
        text-align: center;
        font-size: 12px;
        padding: 5px 0;
      }
    }
    form {
      margin-top: 26px;
      .item_rows {
        display: flex;
        justify-content: space-between;
        ion-item {
          width: 45%;
        }
      }
      ion-item {
        --padding-start: 0;
        margin-top: 24px;
        ion-label {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: #999999 !important;
        }
      }
    }

    .note {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      color: #000000;
      margin: 10px 0;
      a {
        color: #1a82f2;
      }
    }

    .request {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.5px;
      color: #1a82f2;
    }

  }
  ion-button {
    border-radius: 13px;
    font-size: 17px;
    --background: #1a82f2;
    margin-left: 0;
    margin-right: 0;
  }

}

.md {

  ion-content {
    ion-button {
      height: 44px;
      padding: 0 8px;
      --border-radius: 13px;
      margin-bottom: 20px;
    }
  }

}

.nokeyboard.next_container {
  bottom: 0;
}

.keyboard.next_container {
  bottom: unset;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}