<ion-header class="modalHeader">
    {{'m_unregister.header'|translate}}
</ion-header>
<ion-content slots="fixed" [appModalResize]>
    <div class="text">
        <p>  {{'m_sub_exp.p1'|translate}}</p>
        <br>
        <p>{{'m_sub_exp.p2'|translate}} <a
                href="mailto:customercare@hptariane.com">customercare@hptariane.com</a>
            {{'m_sub_exp.p3'|translate}}</p>
        <br>
        <p>{{'m_sub_exp.p4'|translate}} </p>

    </div>
    <ion-button class="okButton" expand="block" (click)="dismiss()">{{'m_unregister.ok'|translate}}</ion-button>

</ion-content>