
ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --offset-top: 0px !important;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    .text_block {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      text-transform: uppercase;
      color: #ffffff;
      span:first-child {
        font-size: 15px;
        letter-spacing: 0.18px;

      }
      span:last-child {
        font-size: 24px;
        letter-spacing: 0.29px;

      }
    }
    img {
      height: 50px;
    }
  }
  ion-segment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 8px;
    ion-segment-button {
      --padding-top: 10px;
      --padding-bottom: 10px;
    }
  }
  ion-list {
    ion-list-header {
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      padding-right: 16px;
      align-items: center;
      ion-label {
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        align-items: center;
        display: flex;
        span {
          padding-left: 10px;
        }
      }
      ion-label.active {
        color: #1a82f2;
      }
      ion-label.inactive {
        color: #000000;
      }
    }
    .item {
      display: flex;
      padding: 14px 16px;
      border-bottom: 1px solid #eeeeee;
      justify-content: space-between;
      .text_part {
        width: 85%;
        div:first-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        div:last-child {
          margin-top: 10px;
          word-break: break-all;
        }
      }
      div {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.23px;
        color: #000000;
      }

    }
  }
  ion-button {
    margin: 20px 8px;
    text-transform: capitalize;
    font-size: 17px;
  }
  .active {
    --background: #79b82a;
  }
  .danger {
    --background: #ff453f;
  }
  .ok {
    --background: #1a82f2;
  }

  .control_box {
    position: fixed;
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
    width: 100%;
    visibility: hidden;
    z-index: 9999;
  }

  .visible {
    visibility: visible;

  }

  ion-list.visibleBox {
    margin-bottom: 230px;
  }
}