.button_block {
  display: flex;
  justify-content: space-around;
  ion-button {
    text-transform: capitalize;
    font-size: 17px;
    width: 30%;
  }
  ion-button:first-child {
    --background: #e0e9f0;
    color: black;
  }
}