<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span>HPT Ariane</span><span>Collaboration Platform</span></ion-title>
        <ion-buttons slot="end">
            <!--For android align-->
            <ion-button style="opacity: 0;height: 0;">
                Home
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-alert-title [class]="params[alertCode].style" [label]="'create_todo.title'|translate"
                     [title]="params[alertCode].title" [icon]="params[alertCode].icon"></app-alert-title>
    <app-store-channel [store]="prop.store" [channel]="prop.channel"></app-store-channel>
    <hr>
    <div class="wrapper">
        <div class="detail">
            <div class="col">
                <ion-label class="label">{{'create_todo.visit_date'|translate}}</ion-label>
                <ion-label class="value">{{prop.visit_date}}</ion-label>
                <ion-label class="label">{{'alert_detail.code'|translate}}</ion-label>
                <ion-label class="value">{{prop.item_code}}</ion-label>
            </div>
            <div class="col">
                <ion-label class="label">{{'create_todo.store_id'|translate}}</ion-label>
                <ion-label class="value">{{prop.store_id}}</ion-label>
                <ion-label class="label">{{'alert_detail.'+alertCode|translate}}</ion-label>
                <ion-label class="value">{{prop.value}}</ion-label>
            </div>
        </div>
        <div class="detail">
            <div class="col">
                <ion-label class="label">{{'alert_detail.description'|translate}}</ion-label>
                <ion-label class="value">{{prop.product}}</ion-label>
            </div>
        </div>
        <div class="detail todo">
            <div class="col">
                <ion-label class="label label_with_image"><img src="../assets/todo/create_todo_icon.svg">
                    {{'create_todo.todo'|translate}}:
                </ion-label>
                <ion-label class="value todo">{{prop.note}}</ion-label>
            </div>
        </div>
        <div class="detail">
            <div class="col todo">
                <ion-label class="label">{{'create_todo.due'|translate}}</ion-label>
                <ion-label class="value">{{prop.due}}</ion-label>
            </div>
            <div class="col todo">
                <ion-label class="label">{{'create_todo.completed'|translate}}</ion-label>
                <ion-label *ngIf="prop.completed_at" class="value">{{prop.completed_at}}</ion-label>
                <ion-datetime *ngIf="!prop.completed_at" displayFormat="YYYY-MM-DDTHH:mm" placeholder="Select Date"
                              [(ngModel)]="selectedDate"></ion-datetime>
            </div>
        </div>

    </div>
    <ion-button *ngIf="!prop.completed_at" expand="block active" (click)="complete()">
        {{'todo_detail.complete'|translate}}
    </ion-button>
    <ion-button *ngIf="!prop.completed_at" expand="block danger" (click)="delete()">{{'todo_detail.rm'|translate}}
    </ion-button>
    <ion-button *ngIf="prop.completed_at" expand="block ok" (click)="ok()">{{'todo_detail.ok'|translate}}
    </ion-button>

</ion-content>