
ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --offset-top: 0px !important;
  .wrapper {
    padding: 0 16px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    .text_block {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      text-transform: uppercase;
      color: #ffffff;
      span:first-child {
        font-size: 15px;
        letter-spacing: 0.18px;

      }
      span:last-child {
        font-size: 24px;
        letter-spacing: 0.29px;

      }
    }
    img {
      height: 50px;
    }
  }

  hr {
    background: #eeeeee;
    margin-top: 20px;
  }
  .detail {
    display: flex;
    justify-content: space-between;
    word-break: break-all;
    .col {
      display: flex;
      flex-direction: column;
      ion-label {
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.43px;
        text-transform: uppercase;

      }
      .label {
        font-weight: bold;
        margin-top: 20px;
      }
      .value {
        font-weight: normal;
      }
    }

  }
  .detail.todo {
    padding-top: 12px;
    border-bottom: 2px solid #e0e9f0;
    padding-bottom: 7px;
    ion-label:last-child {
      font-size: 16px !important;
    }
  }
  .col.todo {
    padding-top: 12px;
    border-bottom: 2px solid #e0e9f0;
    padding-bottom: 7px;
    width: 40%;
    ion-label {
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.43px;
      color: #000000;
    }
    .value {
      font-size: 16px!important;
      padding: 16px 0 8px;
    }
  }
  .col.todo:last-child{
    width: 50%;
  }

  ion-button {
    margin: 20px 8px;
    text-transform: capitalize;
    font-size: 17px;
  }
  .active {
    --background: #79b82a;
  }
  .danger {
    --background: #ff453f;
  }
  .ok {
    --background: #1a82f2;
  }
  .label_with_image {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    img {
      padding-right: 10px;
    }
  }
}