<ion-content>
    <p class="title">{{'welcome.title'| translate}}</p>
    <p class="subtitle">
        <span>{{'welcome.subtitle1'|translate}}</span><br><span>{{'welcome.subtitle2'|translate}}</span></p>
    <p class="description">{{'welcome.description'|translate}}</p>
    <ion-button expand="block" [disabled]="!isAccepted" (click)="next()" >{{'welcome.start'|translate}}
    </ion-button>
    <p class="accept" *ngIf="!isPPAccepted">
        <ion-checkbox [(ngModel)]="isAccepted"></ion-checkbox>
        <span>I accept</span><a (click)="openLink('https://app.hptariane.com/privacy')"> Privacy Policy</a>
        <span>&</span> <a (click)="openLink('https://app.hptariane.com/terms')"> Terms of Use</a></p>
</ion-content>
