ion-app {
  padding-bottom: env(safe-area-inset-bottom) !important;
  padding-top: env(safe-area-inset-top) !important;
}

$bluebackground: #1a82f2;
ion-content {
  --background: #1a82f2;
  background-color: $bluebackground;
  height: 100%;
  .title {
    margin-top: 146px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
  }

  .subtitle {
    margin: 40px 0;
    span:first-child {
      font-size: 52px;
    }
    span:last-child {
      font-size: 24px;
      font-weight: 300;
    }
  }

  .description {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 55px;
  }

  p {
    color: white;
    text-align: center;
  }
  ion-button {
    --background: white;
    --color: #1a82f2;
    --border-radius: 13px;
    width: 299px;
    margin: 40px auto;
    font-size: 17px;
    height: 44px;
  }
}

.md {
  .title {
    margin-top: 140px;
  }
}

.accept {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  ion-checkbox {
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  span {
    padding-right: 2px;
    padding-left: 2px;
  }
}