ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  .title {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 16px;
  }
  .subtitle {
    display: flex;
    flex-direction: column;
    span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.08;
    }
  }
  .wrapper {
    padding: 0 16px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f1f1f1;
    padding: 10px 16px;
    div {
      display: flex;
      flex-direction: column;
      ion-label:first-child {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .wrapper.list {
    .detail.todo {
      padding-top: 12px;
      border-bottom: 1px solid #e0e9f0;
      padding-bottom: 7px;
      ion-label:last-child {
        font-size: 16px !important;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      ion-label:first-child {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .label_with_image {
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      img {
        padding-right: 10px;
      }
    }
  }
  ion-button {
    margin: 20px 8px;
    text-transform: capitalize;
    font-size: 17px;
  }
  .active {
    --background: #79b82a;
  }
  .danger {
    --background: #ff453f;
  }
  .ok {
    --background: #1a82f2;
  }
}